@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 339 100% 93%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 339 100% 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 330 71% 91%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.header {
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  display: inline-flex;
}

.nav__logo {
  align-items: center;
  column-gap: 0.25rem;
  font-weight: bold;
  transition: 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

/*=============== HOME ===============*/
.home {
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__img {
  width: 200px;
  justify-self: center;
}



.home__description {
  margin-bottom: var(--mb-2-5);
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: .3s;
}

.home__social-link:hover {
  transform: translateX(.25rem);
}



@media screen and (max-width: 767px) {
  .nav__list {
    display: flex;
    text-align: center;
    row-gap: 1rem;
    padding-top: 1rem;
    gap: 5px;
  }

  .nav__link {
    text-transform: uppercase;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }

  .nav__link:hover {
    color: var(--first-color);
  }


  /* Change background header */
  .scroll-header {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--body-color);
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
  }

  /* Active link */
  .active-link {
    color: var(--first-color);
  }
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(80px + 1.5rem);
  }

}
